@import "../../scss/global.scss";

.card {
  box-sizing: border-box;
  padding: 20px 50px;
  width: 330px;
  height: 480px;
  margin: 20px;
  background: $white;
  border: $border-tj;
  box-shadow: $tarjet-shadow-light;
  border-radius: 40px;
  justify-content: space-between;
  position: relative;

  &-title {
    font-family: $font-roboto;
    font-weight: $font-regular;
    font-size: $font-large;
    text-align: center;
  }

  &-text {
    font-family: $font-raleway;
    border-bottom: 2px solid $black;
  }
}

.content-footerCard {
  position: absolute;
  bottom: 0;
  display: flex;
  gap: 120px;
  padding-bottom: 10px;
}

.link {
  all: unset;
  cursor: pointer;
}

.github-button {
  cursor: pointer;
}
