@import "../../scss/global.scss";

$border: 1px solid #dcdcdc;

.card {
  box-sizing: border-box;
  padding: 20px 50px;
  gap: 10px;
  width: 290px;
  height: 400px;
margin: 20px;
  background: $white;
  border: $border;
  box-shadow: $tarjet-shadow-light;
  border-radius: 40px;


  &-title {
    font-family: $font-roboto;
    font-weight: $font-regular;
    font-size: $font-large;
    text-align: center;
  }

  &-text {
    font-family: $font-raleway;
    border-bottom: 2px solid $black;
  }
}



.link {
  all: unset;
}
