@import "../../scss/global.scss";

.card-skills {
  box-sizing: border-box;
  padding: 5px 30px;
  background-color: $grey;
  width: 500px;
  margin: 30px;
  border: $border-tj;
  box-shadow: $tarjet-shadow-light;
  border-radius: 40px 40px 0px 40px;
}

.card-title {
  margin: auto;
  padding-left: 10px;
  display: flex;
  border-bottom: 4px solid $black;
}
