@import "../../scss/global.scss";

.card-skills {
  box-sizing: border-box;
  padding: $card-padding-small $card-padding-large;
  background-color: $card-bg-color;
  width: $card-width;
  margin: $card-margin;
  border: $card-border;
  box-shadow: $card-box-shadow;
  border-radius: $card-border-radius;
}

.card-title {
  margin: auto;
  padding-left: $card-title-padding-left;
  display: flex;
  border-bottom: $card-title-border-bottom;
}
