@import "../../scss/global.scss";

$btn-sice-nav: 60px;
$bg-color: $orange;
$border: 0.5px solid $orange-dark;
$border-radius: 50%;
$margin: 5px;
$sice-icon: 40px;
$btn-sice-ld: 40px;

.button-whit-logo {
  cursor: pointer;
  all: unset;
  width: $btn-sice-nav;
  height: $btn-sice-nav;
  background-color: $bg-color;
  border-radius: $border-radius;
  text-align: center;
  border: $border;
  box-shadow: $main-shadow;
  margin: $margin;
}

.button-send {
  cursor: pointer;
  all: unset;
  width: $btn-sice-nav;
  height: 30px;
  background-color: $bg-color;
  border-radius: 25px;
  text-align: center;
  border: $border;
  box-shadow: $main-shadow;
  margin: $margin;
  color: $white;
}

.icon {
  width: $sice-icon;
  height: $sice-icon;
}

.btn-ld {
  cursor: pointer;
  all: unset;
  width: $btn-sice-ld;
  height: $btn-sice-ld;
  margin-top: -40px;
}
