@import "../../scss/global.scss";

$btn-size-nav: 60px;
$bg-color: $orange;
$border: 0.5px solid $orange-dark;
$border-radius: 50%;
$margin: 5px;
$icon-size: 30px;
$btn-size-ld: 40px;
$transition: background-color 0.3s ease;

.button-whit-logo {
  display: inline-block;
  cursor: pointer;
  width: $btn-size-nav;
  height: $btn-size-nav;
  background-color: $bg-color;
  border-radius: $border-radius;
  text-align: center;
  border: $border;
  box-shadow: $main-shadow;
  margin: $margin;
  transition: $transition;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.button-whit-logo:hover {
  background-color: $hover-btn;
}

.button-send {
  cursor: pointer;
  all: unset;
  width: $btn-size-nav;
  height: 20px;
  background-color: $bg-color;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: $border;
  box-shadow: $main-shadow;
  margin: $margin;
  color: $white;
}

.icon {
  width: $icon-size;
  height: $icon-size;
}

.btn-ld {
  cursor: pointer;
  all: unset;
  width: $btn-size-ld;
  height: $btn-size-ld;
  margin-top: -40px;
}

.btn-night {
  border-radius: 50%;
  all: unset;
  cursor: pointer;
}
