@import "../../scss/global.scss";

.skill-bar {
  width: $skill-bar-width;
  padding-left: $skill-bar-padding-left;
}

.content-bar {
  display: flex;
  justify-content: center;
  align-items: center;
}
