$nav-flex-direction: row;
$nav-z-index: 99;
$button-z-index: 99;

.nav {
  display: flex;
  flex-direction: $nav-flex-direction;
  z-index: $nav-z-index;
}

.button-whit-logo {
  z-index: $button-z-index;
}
