.body-contact {
  width: 100%;
  margin-top: 60px;
  margin-bottom: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 0;
  margin-right: 0;
  gap: 350px;
}

.content-NavImg-contact {
  width: 100%;
}

.nav-contact {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.hi-contact {
  width: 15%;
  margin-top: -10px;
  margin-left: -200px;
  position: absolute;
}

.footer-contact {
  display: flex;
  justify-content: flex-end;
}

.img-container-contact {
  width: 100%;
  max-width: 100%;
  height: auto;
  display: flex;
  flex-direction: row-reverse;
}
.text-contact {
  margin-top: 25px;
  max-width: 900px;
  padding-left: 45px;
}

.text-contact p {
  margin-top: -15px;
}
.Svg-contact {
  max-width: 100%;
  height: auto;
  padding-right: 20px;
}

.content-text-contact {
  width: 100%;
}
