$margin-top: 50px;
$padding-small: 5px;
$padding-large: 15px;
$width-app: 60px;
$width-appRRSS: 50px;
$size-app: 60px;

.nav-footer {
  margin-top: $margin-top;
  text-align: center;
}

.nav-footerRRSS {
  margin-top: $margin-top;
  text-align: center;
}

.content-app {
  padding: $padding-small;
  width: $width-app;
  display: inline-block;
}

.content-appRRSS {
  padding: $padding-large;
  width: $width-appRRSS;
  display: inline-block;
}

.app__link {
  width: $width-app;
  height: $size-app;
}
