.nav-footer {
  margin-top: 50px;
  text-align: center;
}

.nav-footerRRSS {
  margin-top: 50px;
  text-align: center;
}

.content-app {
  padding: 5px;
  width: 60px;
  display: inline-block;
}
.content-appRRSS {
  padding: 15px;
  width: 50px;
  display: inline-block;
}

.app__link {
  width: 60px;
  height: 60px;
}
