@import "../../scss/global.scss";
/* Estilos generales */

.body-about {
  width: 100%;
  min-height: 100vh;
  margin-top: 50px;
  margin-bottom: 140px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 0;
  margin-right: 0;
}

.content-text-about {
  width: 100%;
  max-width: 800px;
}
.icon-text {
  padding: 2px;
}
.ornament {
  color: $grey;
}

.title {
  margin-bottom: -10px;
}
.container-paragraph {
  width: 100%;
  margin-top: 20px;
}

.text-salute {
  font-size: 20px;
  font-weight: bold;
}

.salute {
  font-size: 20px;
  font-weight: bold;
  color: $black;
}

.stress {
  color: $orange;
  font-weight: bold;
}

.margin {
  margin-top: -20px;
}

.text-about {
  padding-left: 30px;
  padding-right: 20px;
}

.content-img-about {
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-bottom: -150px;
}

.img-container-about {
  width: 100%;
  max-width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.Svg-about {
  max-width: 95%;
  height: auto;
}

@media screen and (max-width: 768px) {
  .content-text-about {
    padding: 0 10px;
  }

  .headers {
    font-size: 20px;
  }

  .header-h2-ligth {
    font-size: 18px;
  }

  .paragraph {
    font-size: 16px;
  }

  .text-salute {
    font-size: 18px;
  }

  .salute {
    font-size: 18px;
  }

  .text-about {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media screen and (max-width: 480px) {
  .headers {
    font-size: 18px;
  }

  .header-h2-ligth {
    font-size: 16px;
  }

  .paragraph {
    font-size: 14px;
  }

  .text-salute {
    font-size: 16px;
  }

  .salute {
    font-size: 16px;
  }

  .text-about {
    padding-left: 5px;
    padding-right: 5px;
  }
}
