@import "../scss/global.scss";

.icon-contact {
  width: $icon-contact-width;
}

.icon-code {
  padding-top: $icon-code-padding-top;
  width: $icon-code-width;
}

.icon-skills {
  padding-left: $icon-skills-padding-left;
  width: $icon-skills-width;
}

.skill-bar {
  width: $skill-bar-width;
}

.icons {
  width: $icons-width;
  height: $icons-height;
}

.icon-hand {
  width: $icon-hand-width;
  height: $icon-hand-height;
  max-width: $icon-hand-max-width;
}
