/* Variables */
$body-work-margin-top: 100px;
$content-slider-width: 100vw;

/* Estilos generales */
.body-work {
  margin-top: $body-work-margin-top;
}

.content-slider {
  width: $content-slider-width;
}

.footer-work {
}
