@import "../../scss/global.scss";

/* Variables */
$body-home-margin-top: 0px;
$body-home-margin-bottom: 110px;
$body-home-gap: 80px;
$container-subtitle-margin-top: 50px;
$content-hi-width: 20%;
$footer-margin-left: 250px;
$footer-margin-top: 7%;
$img-container-home-max-width: 100%;
$Svg-home-max-width: 94%;

/* Estilos generales */
.body-home {
  width: 100%;
  margin-top: $body-home-margin-top;
  margin-bottom: $body-home-margin-bottom;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 0;
  margin-right: 0;
  gap: $body-home-gap;
}

.container-subtitle {
  margin-top: $container-subtitle-margin-top;
}

.content-hi {
  width: $content-hi-width;
}

.content-img-home {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer {
  position: absolute;
  margin-left: $footer-margin-left;
  margin-top: $footer-margin-top;
}

.img-container-home {
  width: 100%;
  max-width: $img-container-home-max-width;
  height: auto;
  display: flex;
}

.Svg-home {
  max-width: $Svg-home-max-width;
  height: auto;
}
