@import "./scss/global.scss";

.content-btn-ld {
  cursor: pointer;

  display: flex;
  justify-content: center;
}

.footer-app {
  margin-top: -120px;
}

.app_header {
  margin-bottom: -50px;
}

.app{
  width: 100%;
}