@import "./scss/global.scss";

/* Estilos generales */
.content-btn-ld {
  cursor: pointer;
  z-index: 99;
}

.footer-app {
  margin-top: -120px;
}

.app_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  margin-bottom: -50px;
}

.app {
  width: 99%;
}
