@import "./custom-properties";
@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&family=Raleway&family=Roboto:wght@100;300;400;700&display=swap");

//Font family
$font-indie: "Indie Flower";
$font-raleway: "Raleway";
$font-roboto: "Roboto";

//Font weights

$font-extraLight: 100;
$font-light: 300;
$font-regular: 400;
$font-bold: 700;

//Font size

$font-xx-large: 160px;
$font-x-large: 100px;
$font-larger: 35px;
$font-large: 30px;
$font-medium: 24px;
$font-small: 18px;
$font-smaller: 16px;

.headers {
  font-family: $font-roboto;
  color: $black;
  margin: 0;
  padding-left: 30px;
}

.header-h1 {
  font-size: $font-xx-large;
  font-weight: $font-bold;
}

.header-h2 {
  font-size: $font-x-large;
  font-weight: $font-bold;
}
.header-h2-ligth {
  font-size: $font-x-large;
  font-weight: $font-extraLight;
  padding-left: 200px;
  margin-top: -70px;
}

.surname {
  font-weight: $font-extraLight;
  font-size: $font-xx-large;
  padding-left: 200px;
  margin-top: -100px;
}

.subtitle {
  font-family: $font-raleway;
  font-weight: $font-extraLight;
  color: $black;
  font-size: $font-larger;
  margin: 0;
  padding-left: 30px;
}

.paragraph {
  font-family: $font-raleway;
  font-weight: $font-regular;
  color: $black;
  font-size: $font-smaller;
}

.paragraph-small{
  font-family: $font-raleway;
  font-weight: $font-regular;
  color: $black;
  font-size: $font-small;
}

.text-btn {
  font-family: $font-raleway;
  font-weight: $font-regular;
  color: $white;
  font-size: $font-large;
}

.ornament {
  padding: 20px;
  padding-left: 30px;
  font-family: $font-indie;
  font-weight: $font-regular;
  color: $grey;
  font-size: $font-small;
}

.space2 {
  margin-left: 10px;
}

.header-h3 {
  font-size: $font-large;
  font-weight: $font-regular;
}

.text.form {
  font-family: $font-raleway;
  font-weight: $font-regular;
  color: $black;
  font-size: $font-medium;
}
