@import "./_variables";
@import "./_typography";
@import "./_custom-properties";
@import "../componentes/buttons/nightMode";

:root {
  line-height: 1.5;
  font-weight: 400;

  color: $black;
  background-color: $white;
}

body {
  width: 100%;
  display: flex;
}
