@import "./variables";
@import "./typography";
@import "./custom-properties";

:root {
  line-height: 1.5;
  font-weight: 400;

  color: $white;
  background-color: $orange;

}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}
