/* Variables */
$columns-bar-columns: 4;
$columns-bar-padding-top: 20px;
$columns-bar-padding-bottom: 20px;
$content-skills-bars-margin-top: 20px;
$tilte-skills-margin-bottom: 20px;
$txt-skills-margin-left: 30px;
$content-cards-z-index: 0;

/* Estilos generales */
.columns-bar {
  columns: $columns-bar-columns;
  padding-top: $columns-bar-padding-top;
  padding-bottom: $columns-bar-padding-bottom;
}

.content-skills-bars {
  margin-top: $content-skills-bars-margin-top;
  margin-bottom: 30px;
}

.tilte-skills {
  margin-bottom: $tilte-skills-margin-bottom;
}

.txt-skills {
  margin-left: $txt-skills-margin-left;
}

.content-cards {
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: $content-cards-z-index;
  flex: 1;
  width: 50%;
}

.content-cardText {
  display: flex;
}

.content-skills {
  flex: 1;
  width: 50%;
}

.contents {
  margin-top: 150px;
}
